body{
  background-color: white;
}

.wrap {
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}

.cube {
  position: relative;
  margin: 100px auto;
  width: 200px;
  height: 200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .back .left .right{
  background-color: transparent;
}

.face {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;

  font-size: 40px;
  text-align: center;
  line-height: 200px;
	
	border: 20px;
	border-color:black;

  position:absolute; width:100%; height:100%
}

.front {
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
          backface-visibility: hidden;

}

.back {
  -webkit-transform: translateZ(-100px) rotateY(-180deg);
          transform: translateZ(-100px) rotateY(-180deg);
          backface-visibility: hidden;

}

.top {
  -webkit-transform: translateY(-100px) rotateX(90deg);
          transform: translateY(-100px) rotateX(90deg);
          backface-visibility: hidden;

}

.bottom {
  -webkit-transform: translateY(100px) rotateX(-90deg);
          transform: translateY(100px) rotateX(-90deg);
          backface-visibility: hidden;

}


.left {
  -webkit-transform: translateX(-100px) rotateY(-90deg);
          transform: translateX(-100px) rotateY(-90deg);
          backface-visibility: hidden;

}

.right {
  -webkit-transform: translateX(100px) rotateY(90deg);
          transform: translateX(100px) rotateY(90deg);
          backface-visibility: hidden;
}

.rotate-y {
  -webkit-animation: spinY 1s infinite ease-in-out;
          animation: spinY 1s infinite ease-in-out;
}

@-webkit-keyframes spinY {
  from {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
}
@keyframes spinY {

  to {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }  
	to {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
}

img{
  width: 150px;
  height: auto;

  margin-left: auto;
  margin-right: auto;
  display: block;
}
